In [8]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("data/solarpower.csv")

In [4]:
df

           date  cum_power
0    2017-01-01    20111.0
1    2017-01-02    20112.0
2    2017-01-03    20115.0
3    2017-01-04    20117.0
4    2017-01-05    20119.0
..          ...        ...
659  2018-10-22    28101.0
660  2018-10-23    28109.0
661  2018-10-24    28115.0
662  2018-10-25    28117.0
663  2018-10-26    28120.0

[664 rows x 2 columns]

In [6]:
res = []
for i, j in enumerate(df["cum_power"]):
    if j == -1:
        res.append((df["cum_power"][i-1] + df["cum_power"][i+1]) / 2)
    else:
        res.append(j)

In [9]:
res = np.array(res)

In [10]:
res.mean()

23848.246987951807

In [17]:
df["year"] = pd.DatetimeIndex(df['date']).year
df["month"] = pd.DatetimeIndex(df['date']).month

In [19]:
df.pivot_table(
    'cum_power',
    index='year',
    columns='month',
    aggfunc='mean'
)

month,1,2,3,4,5,6,7,8,9,10,11,12
year,,,,,,,,,,,,
2017,20153.096774,20257.035714,20444.580645,20885.033333,21408.096774,22068.233333,22667.096774,23178.677419,23573.433333,23858.322581,23999.166667,24058.516129
2018,24103.516129,24225.321429,24461.258065,24815.300000,25387.096774,25959.300000,26625.483871,27245.322581,27692.100000,28024.230769,NaN,NaN